<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LedsGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LedsGUI.Properties.Settings>
            <setting name="COMPort" serializeAs="String">
                <value>COM</value>
            </setting>
            <setting name="DigitalLastMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnalogLastMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnalogLastCustomColorPrincipal" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="analogLastColor1" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="analogLastColor2" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="analogLastColor3" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="analogLastColor4" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="analogLastColor5" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="analogLastColor6" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="DigitalLastCustomColorPrincipal" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="digitalLastColor1" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="digitalLastColor2" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="digitalLastColor3" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="digitalLastColor4" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="digitalLastColor5" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="digitalLastColor6" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="TrebleFactor" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="MediumFactor" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="BassFactor" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="TrebleUseAverage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrebleIsXLogScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrebleMinFreq" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="TrebleMaxFreq" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="TrebleScaling" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MediumUseAverage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MediumIsXLogScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MediumMinFreq" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="MediumMaxFreq" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="MediumScaling" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BassUseAverage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BassIsXLogScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BassMinFreq" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BassMaxFreq" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="BassScaling" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TrebleSqrtFactor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MedioSqrtFactor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BassSqrtFactor" serializeAs="String">
                <value>2</value>
            </setting>
        </LedsGUI.Properties.Settings>
    </userSettings>
</configuration>